html {
  height: 100%;
}

body {
  background-color: black;
  background: linear-gradient(
  180deg,
  rgb(102, 128, 123) 0%,
  rgba(78, 92, 90, 1) 30%,
  rgba(14, 14, 14, 1) 100%
  );
  background-size: 100%;
  text-align: center;
  font-family: 'Press Start 2P', cursive, Arial, sans-serif;
}

h1,
h3,
h5,
p {
color: white;
}

h1 {
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  margin: 0.5em;
}

h3 {
  font-size: 1em;
}
.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:flex-start;
  background-color: white;
}

.red {
  color: red;
}
.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.game {
  position: relative;
  display: flex;
  width: 500px;
  height: 500px;
}

.game canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 500px;
  border: 1px solid gray;
  background-color: white;
}

#redBall.red-ball {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-image: url("redball.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#point.point {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: green;
  background-size: contain;
  background-repeat: no-repeat;
}

.instructions {
  background-color: white;
  color: black;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0.5em;
}

form.coords {
  background-color: white;
  color: black;
  display: flex;
  margin: 0.5em;
  justify-content: center;
  align-items: center;
}

.coords input {
  height: 1em;
  font-size: 1em;
  margin: 0.5em;
  box-sizing: content-box;
  display: flex;
  border: 1px solid gray;
  width: 3em;
  padding: 1em;
}

.coords input[type="submit"] {
  background: red;
  color: #fff;
  display:flex;
  padding: 1em;
  border: 0px;
}

.hidden {
  display: none !important;
}
